*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: black;
    height: 17vh;
}
.navbar>img{
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 20px;
    height:50%;
}
body{
    background-color: #121212;
}
.form-container {
	background-color:black;
	padding: 30px;
    margin: auto;
    margin-top: 50px;
	border-radius: 5px;
    width: 400px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.log{
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding-bottom: 10px;
}
.form-container input[type="text"],
.form-container input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 5px;
    color: black;
}
.form{
    color: white;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
	border-color: #1ED760;
}

.submit a{
	background-color: #1ED760;
	color: #fff;
	padding: 12px 20px;
	margin: 8px 0;
    text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.submit{
    margin-top: 10px;
    text-align: center;
}
.submit a:hover {
	background-color: green;
}

.options {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
    flex-direction: column;
    text-align: center;
}

.options a {
	color: #333;
	text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.options span:hover {
	color: green;
	text-decoration: none;
}
.foot{
    background-color: black;
    text-align: center;
    color: white;
    bottom: 0px;
    position: fixed;
    padding-top: 20px;
    width: 100%;
    height: 30px;
}